TELEGRAM_TOKEN = "7861621229:AAF4UEtqUoAkWZzVrY4rAz9taYhaLigRq7E"
TELEGRAM_CHAT_ID = "-1001234576794"

YM_API_TOKEN_ADV = 'y0__xEmzSm3Bxjw9DYgvMuP8RJ_3ZSpiWCIbjYclJ1-FzmS9GbmsA'
YM_API_TOKEN_IVK = 'y0__xDB-erITGirijcgxqBd7RJT89-h7NPF_bn4ZgxvPjh1J3CALk'
YM_API_TOKEN_PHD = ''
YM_API_TOKEN_IGRONIK = ''

DB_HOST='localhost'
DB_PORT=5433
DB_NAME='postgres'
DB_USER='postgres'
DB_PASSWORD='pass98013Y'